services:
  mongo:
    image: mongo:8
    container_name: mongodb
    restart: on-failure:5
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_PASSWORD}
    ports:
      - "${MONGO_PORT}:27017"
    volumes:
      - mongodata:/data/db

volumes:
  mongodata:
